body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 60%;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.video-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode header {
  background-color: #000;
}

body.dark-mode .mode-toggle label {
  color: white;
}
